*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

p {
	text-align: left;
	font-size: 14px;
	font-family: Arial;
	padding: 5px;
}
.amarillo-1 {
	display: inline-block;
	background: #FFFF00;
	width: 85px;
	height: 25px;
	margin-right:8px;
}
.rojo {
	display: inline-block;
	background: #FF0000;
	width: 25px;
	height: 25px;
	margin-right:8px;
}
.amarillo-2 {
	display: inline-block;
	background: #FFFF00;
	width: 145px;
	height: 25px;
	margin-right:8px;
}